.container
    a(href="http://www.angular-express.com", target="_blank") Angular Express
    = ' '
    | is written and maintained by
    = ' '
    a(href="https://twitter.com/jvandemo", target="_blank") @jvandemo
