doctype html
html
    head
        block head
            include ../../_includes/head

    body

        .site-header
            block site-header
                include ../../components/site-header/site-header

        .site-content
            block site-content
                include ../../components/homepage/homepage

        .site-footer
            block site-footer
                include ../../components/site-footer/site-footer
